# ---------------------
# 模型与资源配置
# ---------------------
# 模型路径
MODEL_PATH="pretrained_models/CosyVoice2-0.5B"
# 每个工作进程占用的预估GPU显存（MB），设为-1则平均分配
GPU_MEMORY_PER_MODEL_MB=5000
# 总共部署的工作进程数量
NUM_MODELS=8
# 音色提示配置 (JSON格式字符串)
PROMPTS_CONFIG='[
    {
        "name": "announcer_female",
        "path": "prompts/default_female.wav",
        "text": "吃燕窝就选燕之屋，本节目由26年专注高品质燕窝的燕之屋冠名播出。豆奶牛奶换着喝，营养更均衡，本节目由豆本豆豆奶特约播出"
    },{
        "name": "meta1",
        "path": "prompts/default_female.wav",
        "text": "吃燕窝就选燕之屋，本节目由26年专注高品质燕窝的燕之屋冠名播出。豆奶牛奶换着喝，营养更均衡，本节目由豆本豆豆奶特约播出"
    }
]'

# ---------------------
# 目录配置
# ---------------------
# 静态音频文件目录
STATIC_DIR="static/audio"
# 临时音频块存放目录
TEMP_AUDIO_DIR="static/audio/temp_chunks"

# ---------------------
# Redis 配置
# ---------------------
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PREFIX="cosyvoice:"
# 最终合成结果的过期时间 (秒)
RESULT_EXPIRY_SECONDS=3600

# ---------------------
# 工作进程配置
# ---------------------
# 失败重试次数
WORKER_RETRY_ATTEMPTS=3
# 重试前等待时间 (秒)
WORKER_RETRY_DELAY_SECONDS=2


VALID_API_KEYS='["admin"]'
